{% block menu_task %}
    <a href="{{ path ('task') }}">task</a> 
{%endblock%}
|
{% block menu_client %} 
    <a href="{{ path ('client') }}">client</a> 
{% endblock %}
|
{% block menu_department %} 
    <a href="{{ path ('department') }}">department</a> 
{% endblock %}