{% extends '::base.html.twig' %}

{% block body -%}

    <h1>Task</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ entity.startDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Specification</th>
                <td>{{ entity.specification }}</td>
            </tr>
            <tr>
                <th>Finished</th>
                <td>{{ entity.finished }}</td>
            </tr>
            <tr>
                <th>Client</th>
                <td>{{ entity.client }}</td>
            </tr>
        </tbody>
    </table>

    <table>
        {% for subtask in entity.subtasks %}
            <tr>
                <td colspan="2">{{subtask.department}}</td>

            </tr>
            <tr>
                <td>specyfikacja:</td>
                <td> {{subtask.specyfication}} </td>

            </tr>
        {% endfor %}
    </table>



    <ul class="record_actions">
        <li>
            <a href=" {{ path('subtask_new', {'task_id' : entity.id}) }}">
                New Subtask
            </a>
        </li>
        <li>
            <a href="{{ path('task') }}">
                Back to the list
            </a>
        </li>
        <li>
            <a href="{{ path('task_edit', { 'id': entity.id }) }}">
                Edit
            </a>
        </li>
        <li>{{ form(delete_form) }}</li>
    </ul>
{% endblock %}
