{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Subtask list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Specyfication</th>
                <th>Startdate</th>
                <th>Enddate</th>
                <th>Finished</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('subtask_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.specyfication }}</td>
                <td>{% if entity.startDate %}{{ entity.startDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{% if entity.endDate %}{{ entity.endDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.finished }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('subtask_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('subtask_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

       
    {% endblock %}
