{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Subtask</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Task</th>
                <td>{{ entity.task.id }}, {{ entity.task.specification }}</td>
                
            </tr>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Specyfication</th>
                <td>{{ entity.specyfication }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{{ entity.startDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{{ entity.endDate|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Finished</th>
                <td>{{ entity.finished }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('subtask') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('subtask_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
